<!doctype html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="description" content="{+ lang app.DESCRIPTION+}">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="shortcut icon" type="image/png" href="/favicon.ico"/>
		<title>{title}</title>
		{script}
		<script type="text/javascript" src="{baseURL}/{src}"></script>
		{/script}
		{style}
		<link rel="stylesheet" href="{baseURL}/{src}" type="text/css" />
		{/style}
	</head>
	<body>
		<div id="menu">
			<a href="{baseURL}">Home</a>
			{if $login!='true'}
			<!-- unregister user -->
			<a href="{baseURL}/login">Login</a>
			<a href="{baseURL}/reg">{+ lang app.REGBUTTON +}</a>
			{else}
			<!-- register user -->
			<a href="{baseURL}/login/logout">Logout</a>
			<!-- @todo add profile -->
			{endif}
		</div>
		{! content !}
	</body>
</html>